**Идея текущего подзода:** Если исполнители играют внутри одних и тех же сессий, значит такие исполнители похожи.

1. Нужно для каждого исполнителя найти соседей по всем сессиям, в которых был данный исполнитель. Каждому исполнителю будет сопоставлена последовательность из его соседей за все сессии.

2. Последовательность соседей может быть преобразована:
    - в вектор, где каждый сосед по сессиям будет иметь единицу, а остальные исполнители будут иметь нули \[бинарно\];
    - в вектор, где каждый сосед по сессиям будет значение равное кол-ву сессий, в которых данные исполнитель и сосед были в одной сессии, а остальные исполнители будут иметь нули;
    - tf-idf;
3. **Но** тк исполнителей очень большое количество, получается разреженная матрица размера $N_{persons} \cdot N_{persons}$, это слишком большая размерность для того, чтобы работать с ней на прямую. Предлагается использовать подходы [снижения размерности](https://ru.wikipedia.org/wiki/Снижение_размерности), такие как SVD, PCA и тд.

4. Теперь каждому исполнителю соответствует плотный (в смысле `dense`, а не `sparse`) вектор, содержащий информацию о соседстве с другими исполнителями внутри сессий. Этот вектор и является **векторным представлением (эмбеддингом)** для исполнителя.

5. Похожесть исполнителей определяется как близость их эмбеддингов. Меры близости:
    - косинусное расстояние;
    - мера жаккара

6. ??? Валидация поиска похожих на тестовых данных

# Import

In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm

import sys
sys.path.append('../')

In [2]:
from src.config import (
    path_users_temp,
    path_persons_temp,
    path_sessions_train,
    path_sessions_test,
    path_sessions_val
)

# Чтение файлов

### Данные о пользователях

In [3]:
users = pd.read_csv(path_users_temp)
print(users.shape)
users.head()

(45167, 9)

,user_id,timestamp,age,gender,country,playcount,playlists,user_name,subscribertype
0,1,1116715959,24.0,f,US,221012.0,2.0,000123,base
1,2,1163123792,39.0,m,CZ,217535.0,9.0,000333,base
2,3,1184426573,NaN,f,NaN,49733.0,2.0,00elen,base
3,4,1123157597,32.0,m,DE,168054.0,2.0,00Eraser00,base
4,5,1171302116,23.0,m,UK,45700.0,2.0,00fieldsy,base

### Данные об исполнителях

In [4]:
# исполнители
persons = pd.read_csv(path_persons_temp)
print(persons.shape)
persons.head()

# поле "person_name" по фиксированному "person_id" может иметь несколько вариаций
# пример с "David Guetta"
# будем использовать для декодинга person_id
persons[persons['person_id'].isin([227])]

(595049, 3)

,person_id,person_name,person_MBID
4673,227,David+Guetta+&+Nicky+Romero,NaN
12079,227,"David+Guetta,+Sam+Martin",1bb1eec6-88c3-4028-8920-a985c4b9081a
17306,227,David+Guetta+ft.+Chris+Willis,1bb1eec6-88c3-4028-8920-a985c4b9081a
31403,227,David+Guetta+-+Ne-Yo+-+Kelly+Rowland,1bb1eec6-88c3-4028-8920-a985c4b9081a
38019,227,David+Guetta+&+Chris+Willis+Feat.+Fergie+&+LMFAO,1bb1eec6-88c3-4028-8920-a985c4b9081a
...,...,...,...
570347,227,David+Guetta+&+Alesso+feat.+Tegan+&+Sara,NaN
572905,227,David+Guetta+ft.+Kelly+Rowland,1bb1eec6-88c3-4028-8920-a985c4b9081a
578055,227,David+Guetta+Feat+Lil+Wayne+&+Chris+Brown,1bb1eec6-88c3-4028-8920-a985c4b9081a
588531,227,David+Guetta+&+Glowinthedark+feat.+Harrison+Shaw,NaN
590460,227,David+Guetta+&+Avicii+vs.+Laidback+Luke,NaN

### Данные о сессиях пользователей

In [5]:
%%time
sessions_train = pd.read_csv(path_sessions_train)
sessions_test = pd.read_csv(path_sessions_test)
# sessions_val = pd.read_csv(path_sessions_val)

CPU times: user 3.92 s, sys: 638 ms, total: 4.56 s
Wall time: 6.45 s

In [6]:
print(sessions_train.shape)
sessions_train.head()

(6549461, 10)

,session_id,timestamp,playtime,numtracks,user_id,track_id,track_playratio,playcount,person_id,numpersons
0,12,1405519516,5202,25,41504,1210840,1.0,353.0,154295,4
1,12,1405519516,5202,25,41504,1210840,1.0,94.0,154295,4
2,12,1405519516,5202,25,41504,1210766,1.0,1093.0,154295,4
3,12,1405519516,5202,25,41504,1210626,1.0,328.0,154295,4
4,12,1405519516,5202,25,41504,1210759,1.0,4.0,154295,4

In [7]:
print(sessions_test.shape)
sessions_test.head()

(1403506, 10)

,session_id,timestamp,playtime,numtracks,user_id,track_id,track_playratio,playcount,person_id,numpersons
0,20,1418303964,7654,31,41504,3488336,1.00,415.0,435780,4
1,20,1418303964,7654,31,41504,3488271,1.00,2395.0,435780,4
2,20,1418303964,7654,31,41504,3488314,1.00,1448.0,435780,4
3,20,1418303964,7654,31,41504,3488330,0.81,1806.0,435780,4
4,20,1418303964,7654,31,41504,1975962,1.46,76.0,247876,4

In [8]:
def gather_session_persons(sessions_df):
    return sessions_df.groupby(['session_id'])['person_id'].unique()# .apply(np.array)


def get_person_session_neighbours(sessions_df):
    # gather_session_persons
    session_neighbours = gather_session_persons(sessions_df)
    # separate_person
    session_neighbours = [
        (person, session[session != person])
        for session in session_neighbours
        for person in session
    ]
    session_neighbours = pd.DataFrame(
        session_neighbours,
        columns=['person_id', 'session_neighbours']
    )
    # выбрасываем сессии, где соседей не оказалось
    session_neighbours = session_neighbours[
        session_neighbours['session_neighbours'].apply(len) != 0
    ]
    
    return session_neighbours


def join_person_neighbours(session_neighbours):
    df_lst = []
    for i, person in enumerate(tqdm(session_neighbours['person_id'].unique())):
        mask_person = session_neighbours['person_id'].isin([person])
        neighbours = np.concatenate(
            session_neighbours.loc[mask_person, 'session_neighbours'].values
        )
        df_lst.append((person, neighbours))
    session_neighbours = pd.DataFrame(
        df_lst,
        columns=['person_id', 'session_neighbours']
    )
    
    return session_neighbours

In [9]:
%%time
session_neighbours = get_person_session_neighbours(sessions_train)

CPU times: user 29.9 s, sys: 2.32 s, total: 32.2 s
Wall time: 31.9 s

In [10]:
session_neighbours.head()

   person_id        session_neighbours
0     154295  [288626, 341684, 325050]
1     288626  [154295, 341684, 325050]
2     341684  [154295, 288626, 325050]
3     325050  [154295, 288626, 341684]
4     134615   [28445, 377440, 303680]

In [11]:
session_neighbours = join_person_neighbours(session_neighbours)

100%|██████████| 5911/5911 [00:27<00:00, 212.17it/s]

In [12]:
session_neighbours.head()

   person_id                                 session_neighbours
0     154295  [288626, 341684, 325050, 46425, 390636, 360406...
1     288626  [154295, 341684, 325050, 17514, 203180, 291223...
2     341684  [154295, 288626, 325050, 318259, 383294, 11601...
3     325050  [154295, 288626, 341684, 296457, 33937, 264248...
4     134615  [28445, 377440, 303680, 232667, 145566, 458471...

In [13]:
%%time

from sklearn.pipeline import Pipeline

from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

from sklearn.decomposition import TruncatedSVD

from sklearn.preprocessing import MinMaxScaler

from scipy.spatial.distance import cdist, cosine

def dict_unique_counter(arr):
    return dict(zip(*np.unique(arr, return_counts=True)))


def get_features_unique(input_series):
    return input_series.apply(np.unique)


def get_features_dict_counter(input_series):
    return input_series.apply(dict_unique_counter)


class DataframeFunctionTransformer():
    def __init__(self, func):
        self.func = func

    def transform(self, input_series, **transform_params):
        return self.func(input_series)

    def fit(self, X, y=None, **fit_params):
        return self

# pipe_embedding
pipeline_embedding = Pipeline([
    ('get_features_dict_counter', DataframeFunctionTransformer(get_features_dict_counter)),
    ('vectorizer', DictVectorizer()),
#     ('min_max_scaler', MinMaxScaler()),
    ('tsvd', TruncatedSVD(n_components=100))
])

# apply the pipeline to the input dataframe
X_tsvd = pipeline_embedding.fit_transform(session_neighbours['session_neighbours'])

embeddings = pd.concat([
    session_neighbours['person_id'],
    pd.DataFrame(X_tsvd)
], axis=1).set_index('person_id')

CPU times: user 23.6 s, sys: 1.07 s, total: 24.7 s
Wall time: 16 s

In [14]:
embeddings

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
person_id,,,,,,,,,,,,,,,,,,,,,
154295,4949.699412,-1750.532505,-648.187752,1474.375876,-209.351247,-761.835271,179.374223,363.606450,-98.846362,308.307823,...,17.565058,34.499740,77.430516,136.984935,13.797780,46.308876,-91.865726,-3.053490,9.590776,-6.720554
288626,82.715366,-41.403656,53.267186,8.886980,26.156459,-14.720249,-22.338997,57.682953,54.214461,3.254450,...,3.244507,1.641206,-1.774092,-7.211024,0.830528,-3.173485,-9.240561,-1.447317,-12.668585,-12.698976
341684,41.936810,-13.121896,-6.118134,1.901221,26.894174,-6.804689,-1.830265,23.198585,21.147444,27.898749,...,-0.224087,-6.975390,-2.463210,3.125271,1.297435,-0.244111,-1.410001,1.228939,0.514455,3.316155
325050,13.821278,-0.392727,-6.010899,4.230200,13.715804,-1.689387,-3.955677,11.847167,11.034525,17.633932,...,0.784181,-3.527830,-1.079744,0.637190,1.332873,-2.358532,-1.991598,0.769981,-0.078114,1.378448
134615,1457.369544,-508.200270,395.422965,-156.180770,-37.106836,-238.249289,221.957981,-17.815713,193.668008,-115.163174,...,-7.512580,-17.194230,1.270385,29.104769,6.063966,12.585002,-21.414331,21.913996,14.984256,7.974710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248012,2.603932,-3.303726,-0.945596,-3.403730,-0.733316,0.245777,0.393385,1.353973,0.585685,-0.163009,...,-0.513576,1.064326,-0.066586,-0.220023,0.267288,0.452300,0.172706,0.283347,0.374657,0.116384
94389,0.608153,-0.579995,-0.351880,-0.287543,-0.115787,-0.064446,-0.023173,-0.039208,-0.089390,0.190402,...,-0.265560,-0.223689,-0.135595,0.016479,-0.017147,0.194216,0.287763,-0.099811,0.263073,0.426325
182689,0.462265,-0.300386,0.440709,-0.466143,0.229269,0.149709,0.193954,-0.155520,0.505380,-0.083902,...,-0.185281,0.058959,-0.086513,-0.213944,0.100478,-0.096681,-0.013594,0.259404,-0.247643,-0.286601
143872,2.580737,-1.653577,-0.465707,0.978933,0.453157,0.399190,0.984348,-0.293290,0.913649,-0.058016,...,-0.204675,-0.193787,-0.416844,-0.253220,-0.132588,0.057706,0.435706,0.590833,0.132004,-0.191056
466962,0.146646,-0.027984,-0.071397,-0.047818,-0.037521,-0.095965,0.060894,-0.147878,-0.055532,0.014021,...,0.057046,0.022969,0.005931,0.262338,-0.155214,0.025393,0.043022,-0.041341,-0.132841,-0.039103

In [14]:
sessions_test

,session_id,timestamp,playtime,numtracks,user_id,track_id,track_playratio,playcount,person_id,numpersons
0,20,1418303964,7654,31,41504,3488336,1.00,415.0,435780,4
1,20,1418303964,7654,31,41504,3488271,1.00,2395.0,435780,4
2,20,1418303964,7654,31,41504,3488314,1.00,1448.0,435780,4
3,20,1418303964,7654,31,41504,3488330,0.81,1806.0,435780,4
4,20,1418303964,7654,31,41504,1975962,1.46,76.0,247876,4
...,...,...,...,...,...,...,...,...,...,...
1403501,2764392,1418637043,7526,28,39896,2228905,1.02,1136.0,278529,12
1403502,2764392,1418637043,7526,28,39896,2228905,1.02,11.0,278529,12
1403503,2764392,1418637043,7526,28,39896,1298797,1.03,532.0,164418,12
1403504,2764392,1418637043,7526,28,39896,2552183,1.02,10.0,320151,12
1403505,2764392,1418637043,7526,28,39896,3570567,1.02,14.0,446387,12

In [20]:
def split_session_one(session):
    return [(session[session != person], person) for person in session]


class FeatureExtractTransformer():
    def __init__(self):
        return None

    def transform(self, sessions_df, **transform_params):
        sessions_gathered = gather_session_persons(sessions_df)
        sessions_splited = sessions_gathered.apply(split_session_one)
        sessions_splited = sessions_splited.explode()
        sessions_splited = pd.DataFrame(
            sessions_splited.tolist(),
            columns=['X', 'y'],
            index=sessions_splited.index
        )#.reset_index()
        
        return sessions_splited['X'], sessions_splited['y']

    def fit(self, X, y=None, **fit_params):
        return self


pipeline_data_process = Pipeline([
    ('feature_extract_transformer', FeatureExtractTransformer())
])

In [70]:
X, y = pipeline_data_process.fit_transform(sessions_test) # .head(1000)
X, y = X.head(1000), y.head(1000)

In [181]:
from sklearn.base import BaseEstimator, ClassifierMixin


def hit_rate(y, y_pred):
    hits = [
        int(y_el in y_pred_el)
        for y_el, y_pred_el in zip(y, y_pred)
    ]
    return sum(hits) / len(hits)


def search_nn(embeddings, base_nearest_search, num_top_elements=10):
    dist = cdist(embeddings, base_nearest_search, metric='cosine')
    dist = dist.mean(axis=1)
    dist = pd.Series(
        dist,
        index=embeddings.index
    )
    dist = dist.drop(index=base_nearest_search.index).sort_values()
    top_n = dist.index.values[:num_top_elements]
    return top_n


class TopNSearch(BaseEstimator, ClassifierMixin):
    def __init__(self, embeddings, num_top_elements):
        self.embeddings = embeddings
        self.num_top_elements = num_top_elements
    def fit(self, X, y):
        pass
    def predict(self, X):
        pass
    def score(self, X, y):
        y_pred = self.predict(X)
        return hit_rate(y, y_pred)


class TopNRandom(TopNSearch):
    def __init__(self, embeddings, num_top_elements, weights=None, random_seed=None):
            super().__init__(embeddings, num_top_elements)
            self.weights = weights
            self.random_seed = random_seed
    def predict(self, X):
        np.random.seed(self.random_seed)
        top_n = np.array([
            self.embeddings.sample(self.num_top_elements, weights=self.weights).index.values
            for _ in tqdm(X)
        ])
        return top_n

    
class NearestNeighboursSearch(TopNSearch):
    def __init__(self, embeddings, num_top_elements):
        super().__init__(embeddings, num_top_elements)
    def predict(self, X):
        y_pred = []
        for x in tqdm(X):
            base_nearest_search = embeddings.loc[x]
            top_n = search_nn(
                self.embeddings,
                base_nearest_search,
                self.num_top_elements
            )
            y_pred.append(top_n)
        return np.array(y_pred)

In [182]:
num_top_elements = 10
weights = sessions_train.groupby(['person_id'])['playcount'].sum()
weights = weights.loc[embeddings.index]


random_search = TopNRandom(
    embeddings,
    num_top_elements,
    random_seed=42
)
weighted_random_search = TopNRandom(
    embeddings,
    num_top_elements,
    weights,
    random_seed=42
)
nn_search = NearestNeighboursSearch(
    embeddings,
    num_top_elements
)

In [73]:
# X = sessions_splited_test['X'].head(1000)
# y = sessions_splited_test['y'].head(1000)

In [74]:
random_search.score(X, y)

100%|██████████| 1000/1000 [00:00<00:00, 3584.12it/s]

0.0

In [75]:
weighted_random_search.score(X, y)

100%|██████████| 1000/1000 [00:01<00:00, 724.12it/s]

0.003

In [183]:
nn_search.score(X, y)

100%|██████████| 1000/1000 [00:06<00:00, 166.16it/s]

0.107

In [165]:
def add_user_column(X, session_user_mapping):
    X_ext = pd.merge(
        X.reset_index(),
        session_user_mapping,
        how='left',
        on=['session_id']
    )
    return X_ext


def search_history_freq(x, user, user_person):
    mask = (
        user_person['user_id'].isin([user])
        & (~user_person['person_id'].isin(x))
    )
    historical_person_freq = (user_person
        .loc[mask, 'person_id']
        .value_counts(normalize=True)
        .reset_index()
        .rename(columns={'person_id':'freq', 'index':'person_id'})
    )
    return historical_person_freq
    

class UserPersonFreqSearch(TopNSearch):
    def __init__(self, embeddings, sessions_train, sessions_test, num_top_elements):
        self.embeddings = embeddings
        self.user_person = sessions_train[['user_id', 'person_id']]
        self.session_user_mapping = sessions_test[['session_id', 'user_id']].drop_duplicates()
        self.num_top_elements = num_top_elements
    def fit(self, X, y):
        pass  
    def predict(self, X):
        random_case_cnt = 0
        X_ext = add_user_column(X, self.session_user_mapping)
        y_pred = []
        for _, (session_id, x, user) in tqdm(X_ext.iterrows()):
            historical_person_freq = search_history_freq(x, user, self.user_person)
            if len(historical_person_freq) == 0:
                top_n = self.embeddings.sample(self.num_top_elements).index.values
                random_case_cnt += 1
            else:
                n = self.num_top_elements
                if self.num_top_elements > len(historical_person_freq):
                    n = len(historical_person_freq)
                top_n = historical_person_freq['person_id'].sample(
                    n=n,
                    weights=historical_person_freq['freq']
                ).values
            y_pred.append(top_n)
        print(f'num of random generated top_n: {random_case_cnt}')
        return np.array(y_pred)

In [166]:
upf = UserPersonFreqSearch(embeddings, sessions_train, sessions_test, num_top_elements)

In [167]:
upf.score(X, y)

1000it [01:13, 13.62it/s]

num of random generated top_n: 94

<ipython-input-165-a385b233f0f3>:52: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return np.array(y_pred)

0.241

In [184]:
class UserPersonFreqSearchPlus(TopNSearch):
    def __init__(self, embeddings, sessions_train, sessions_test, num_top_elements):
        self.embeddings = embeddings
        self.user_person = sessions_train[['user_id', 'person_id']]
        self.session_user_mapping = sessions_test[['session_id', 'user_id']].drop_duplicates()
        self.num_top_elements = num_top_elements
    def fit(self, X, y):
        pass  
    def predict(self, X):
        random_case_cnt = 0
        X_ext = add_user_column(X, self.session_user_mapping)
        y_pred = []
        for _, (session_id, x, user) in tqdm(X_ext.iterrows()):
            historical_person_freq = search_history_freq(x, user, self.user_person)
            if len(historical_person_freq) == 0:
                base_nearest_search = embeddings.loc[x]
                top_n = search_nn(
                    self.embeddings,
                    base_nearest_search,
                    self.num_top_elements
                )
                random_case_cnt += 1
            else:
                n = self.num_top_elements
                if self.num_top_elements > len(historical_person_freq):
                    n = len(historical_person_freq)
                top_n = historical_person_freq['person_id'].sample(
                    n=n,
                    weights=historical_person_freq['freq']
                ).values
            y_pred.append(top_n)
        print(f'num of random generated top_n: {random_case_cnt}')
        return np.array(y_pred)

In [185]:
upf_plus_search = UserPersonFreqSearchPlus(embeddings, sessions_train, sessions_test, num_top_elements)

In [186]:
upf_plus_search.score(X, y)

1000it [01:09, 14.32it/s]

num of random generated top_n: 94

<ipython-input-184-5706d6737767>:33: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return np.array(y_pred)

0.264

In [27]:
pipeline_evaluation = Pipeline([
    ('nn_search', NearestNeighboursSearch(embeddings, num_top_elements))
])

In [30]:
pipeline_evaluation.score(X, y)

100%|██████████| 1000/1000 [00:05<00:00, 176.73it/s]

0.047

In [39]:
top_20 = dist['person_id'].iloc[1:51].values

In [40]:
persons[persons['person_id'].isin(top_20)].head(60)

,person_id,person_name,person_MBID
5,120605,Drake+&+Coldplay,NaN
158,75441,Soulja+Boy+Tell%60em,NaN
2061,4807,50+Cent+feat.+Snoop+Dogg+&+Pre,8e68819d-71be-4e7d-b41d-f1df81b01d3f
3184,148708,Fat+Joe+&+50+Cent,NaN
5677,463801,Juvenile,3d7cc904-86e6-4f65-b1fd-d7a3e8bfefa3
7841,49227,Birdman+&+Lil%27+Wayne,ab794c44-fc35-48c9-a1c1-817bb54e070d
8259,47600,Big+Sean,942a9807-9c1a-4a0e-a285-1fde2c5be9d1
9086,208682,Ludacris+&+Shawnna,0638ba22-040f-438d-83a5-9b670c4adaf5
10646,173505,Gucci+Mane+&+Tity+Boi,NaN
10855,173505,Gucci+Mane+&+Chief+Keef,NaN
11191,75441,Soulja+Boy+Tell%27em,NaN
12517,408017,YG,46f03b9b-11f8-44ae-a8cd-36259b45e5b0
13782,112778,Diddy+&+Dirty+Money,1cc2d151-530c-4bf3-834b-8b6203b7fc5a
18278,200037,Lil+Jon+&+The+East+Side+Boyz,a95384b1-6aec-468c-ae0d-8c6daf87c4c2
21730,448656,Jay-Z+&+Kanye+West,NaN
22494,158190,French+Montana,45dc5f07-6609-4760-a933-8c9e0f858d05
23148,374349,T.I.,633144f8-918d-48ae-86c2-10e3d588628f
27424,374349,T.I.+Ft.+Eminem+&+Kanye+West,NaN
29353,180970,Kendrick+Lamar%2FBJ,NaN
38649,3165,2+Chainz+&+Future,NaN
40291,81532,Clipse+feat.+Sean+Paul+&+Kardinal+Offishall,NaN
42246,161570,Tyga,ce09ea31-3d4a-4487-a797-e315175457a0
42822,160331,Future+&+Young+Scooter,NaN
45038,408323,Young+Jeezy+&+Bun-B,NaN
45713,380933,T-Pain+&+Mike+Jones,NaN
46786,4807,50+Cent+&+DJ+Whoo+Kid,8e68819d-71be-4e7d-b41d-f1df81b01d3f
48719,53400,B.o.B.+feat.+Hayley+Williams+&+Eminem,94c338ff-1985-4429-9dc8-997b61bb5932
52814,4807,50+Cent+Feat+Eminem+&+Adam+Levine,NaN
52874,200037,Lil+Jon+&+DJ+Snake,a95384b1-6aec-468c-ae0d-8c6daf87c4c2
59628,161543,The+Game,ab91c554-63b8-44b3-bba7-042f2942c896
62482,49227,Birdman,ab794c44-fc35-48c9-a1c1-817bb54e070d
65205,49227,Birdman+&+Mack+Maine,NaN
66144,452432,Jhen%C3%A9+Aiko,ceb3f5b7-9f1a-430f-afbe-976fdcf30482
68940,409181,Young+Money,3ba45541-87be-4631-896b-d148b7f70f00
75770,160331,Future+&+Yo+Gotti,48262e82-db9f-4a92-b650-dfef979b73ec
78278,380933,T-Pain,NaN
80628,120605,Drake+&+Trey+Songz,7cf5af7a-afa0-4dca-9473-a13508c64e9d
81215,449356,J+Cole+&+Miguel,NaN
82671,449356,J+Cole+&+Dreamville+feat.+Bas+&+Omen,NaN
83685,173505,Gucci+Mane+&+PeeWee+Longway+Feat.+Waka+Flocka+...,36494952-f434-45d8-a958-8b4acdbcf8a8
94506,374349,T.I+&+Cristina+Agilera,633144f8-918d-48ae-86c2-10e3d588628f
96642,4807,50+Cent,8e68819d-71be-4e7d-b41d-f1df81b01d3f
97599,408323,Young+Jeezy+&+Bun+B.,0049b085-6fbb-4578-b320-a98df705e903
98427,200037,Lil+Jon+&+The+East+Side+Boyz+feat.+Ying+Yang+T...,a95384b1-6aec-468c-ae0d-8c6daf87c4c2
99158,397111,Wale+&+DJ+Omega,NaN
100884,75441,Soulja+Boy+Tell+%27Em,NaN
106540,248188,"Nelly,+Diddy+&+Murphy+Lee",1475e497-d820-44e7-afab-d80d74277501
107301,120605,Drake+feat.+The+Weeknd,7cf5af7a-afa0-4dca-9473-a13508c64e9d
108111,200037,Lil+Jon+&+The+East+Side+Boys+f%2F+Lil+Scrappy,a95384b1-6aec-468c-ae0d-8c6daf87c4c2
111641,160331,Future+&+Miley+Cyrus+feat.+Mr+Hudson,48262e82-db9f-4a92-b650-dfef979b73ec
111968,385990,Ty+Dolla+$ign,c3483e58-d700-4f08-a7ae-ad8c00011c94
114009,200037,Lil+Jon+&+The+East+Side+Boyz+&+Ying+Yang+Twins,a95384b1-6aec-468c-ae0d-8c6daf87c4c2
115133,180970,Kendrick+Lamar+ft.+Black+Hippy,NaN
115905,209778,Lupe+Fiasco+&+Kenna,NaN
118820,382462,Trey+Songz,4d7304f6-7fe3-4959-9d98-01a5af84afe6
121330,231164,Migos,0221734a-35a8-40f7-b5c5-2f61a200bc7c
122271,180970,Kendrick+Lamar,381086ea-f511-4aba-bdf9-71c753dc5077
126040,3165,2+Chainz+&+T.I.,dff0d392-4cd5-4052-9fbb-f485df3891e5
127749,161570,Tyga+&+Chris+Brown,NaN
130111,158190,French+Montana+&+Coke+Boys,NaN

In [2]:
# session_neighbours = pd.read_csv('../data/temp/session_neighbours_500.csv', chunksize=1000)

In [ ]:
# df_lst = []
# for df in tqdm(session_neighbours):
#     df['neighbours_dct'] = df['session_neighbours'].str.split(' ').apply(dict_unique_counter)
#     df_lst.append(df[['person_id', 'neighbours_dct']])
# #     break

79it [02:52,  1.61it/s]

In [11]:
# vectorizer = CountVectorizer(max_features=10000)

# X = vectorizer.fit_transform(session_neighbours['session_neighbours'])

# X

# print(vectorizer.get_feature_names())

# print(X.toarray())

In [ ]:
# session_neighbours['session_neighbours'] = session_neighbours['session_neighbours'].str.split(' ')

In [ ]:
df_lst = []
for _, (person, neighbours) in tqdm(session_neighbours.iterrows()):
    df_lst.append(
        (person, dict_unique_counter(neighbours.split(' ')))
    )
#     break

49940it [04:35, 11.22s/it]

In [13]:
df_lst

[(332749,
  {'100758': 1,
   '100889': 1,
   '100904': 2,
   '101590': 1,
   '101611': 1,
   '101774': 1,
   '101903': 2,
   '102300': 1,
   '102352': 1,
   '102835': 1,
   '102923': 12,
   '103018': 1,
   '103260': 2,
   '103498': 1,
   '103673': 1,
   '103871': 7,
   '104139': 7,
   '104207': 1,
   '104243': 1,
   '104521': 4,
   '104676': 4,
   '104885': 4,
   '105144': 1,
   '105256': 3,
   '10617': 1,
   '106222': 2,
   '106237': 1,
   '106350': 1,
   '107039': 3,
   '107103': 2,
   '107168': 1,
   '107364': 1,
   '10764': 1,
   '107743': 1,
   '107750': 1,
   '107846': 2,
   '107920': 1,
   '108114': 4,
   '108228': 2,
   '108267': 5,
   '108734': 1,
   '108742': 3,
   '108766': 1,
   '109145': 4,
   '109210': 1,
   '109301': 1,
   '109433': 8,
   '109444': 7,
   '109595': 1,
   '109597': 1,
   '109784': 1,
   '109854': 2,
   '11005': 1,
   '110264': 4,
   '110578': 1,
   '110729': 1,
   '110792': 1,
   '110855': 6,
   '11092': 1,
   '111203': 1,
   '111262': 2,
   '111494': 1,
   '111610': 1,
   '111754': 4,
   '111790': 1,
   '111905': 1,
   '112035': 1,
   '112091': 1,
   '112213': 1,
   '112317': 3,
   '112321': 1,
   '112443': 2,
   '112565': 1,
   '112778': 2,
   '112876': 2,
   '112993': 2,
   '11328': 1,
   '113444': 1,
   '113616': 1,
   '113916': 14,
   '113944': 19,
   '113972': 1,
   '114195': 1,
   '11423': 1,
   '114283': 1,
   '114467': 1,
   '11456': 1,
   '1146': 2,
   '11467': 11,
   '114685': 2,
   '114772': 6,
   '114844': 2,
   '114943': 1,
   '114966': 1,
   '115051': 1,
   '115120': 8,
   '115432': 1,
   '115611': 1,
   '115633': 1,
   '115942': 1,
   '115971': 1,
   '11617': 8,
   '11622': 17,
   '116222': 3,
   '116605': 3,
   '117020': 5,
   '117027': 1,
   '117090': 1,
   '117140': 1,
   '117210': 1,
   '117509': 2,
   '11774': 2,
   '117784': 1,
   '117985': 1,
   '118045': 1,
   '118175': 1,
   '118791': 4,
   '11887': 2,
   '118901': 1,
   '118919': 1,
   '118970': 1,
   '11949': 1,
   '119491': 1,
   '119901': 3,
   '120313': 1,
   '120461': 1,
   '120594': 1,
   '120602': 1,
   '120605': 16,
   '120765': 1,
   '120937': 9,
   '12114': 2,
   '121281': 7,
   '121343': 7,
   '121403': 1,
   '121508': 1,
   '121525': 1,
   '12160': 1,
   '121728': 1,
   '121878': 1,
   '121972': 11,
   '122056': 1,
   '122374': 2,
   '122496': 2,
   '122559': 1,
   '1226': 1,
   '12269': 1,
   '122873': 1,
   '122934': 1,
   '122978': 1,
   '123235': 1,
   '123373': 3,
   '123386': 1,
   '123440': 1,
   '123896': 3,
   '124041': 1,
   '124222': 1,
   '124519': 1,
   '125614': 17,
   '12631': 1,
   '12709': 1,
   '129': 1,
   '13225': 5,
   '133544': 1,
   '133573': 1,
   '133745': 1,
   '133924': 1,
   '134106': 2,
   '134178': 3,
   '134466': 1,
   '134615': 2,
   '135263': 1,
   '135275': 1,
   '135673': 1,
   '136043': 2,
   '136301': 1,
   '136378': 1,
   '136387': 4,
   '136388': 1,
   '136605': 1,
   '136860': 1,
   '137310': 1,
   '137692': 2,
   '137865': 1,
   '137954': 2,
   '138235': 1,
   '138257': 3,
   '138767': 5,
   '138919': 1,
   '138953': 5,
   '13901': 1,
   '13913': 2,
   '139131': 1,
   '139277': 1,
   '139394': 11,
   '139608': 3,
   '139754': 4,
   '139770': 1,
   '140510': 3,
   '140609': 1,
   '140693': 1,
   '141095': 4,
   '141134': 3,
   '141151': 2,
   '14125': 1,
   '141405': 1,
   '141466': 1,
   '141523': 5,
   '141567': 1,
   '14176': 1,
   '141877': 2,
   '141934': 1,
   '142114': 1,
   '142119': 3,
   '142123': 2,
   '14225': 1,
   '142327': 1,
   '142357': 7,
   '14253': 1,
   '142909': 1,
   '142931': 1,
   '143353': 1,
   '143451': 1,
   '143645': 1,
   '143688': 1,
   '144662': 1,
   '144983': 1,
   '145224': 6,
   '145316': 1,
   '145761': 1,
   '146060': 1,
   '146143': 1,
   '146321': 2,
   '146593': 1,
   '146749': 5,
   '146799': 1,
   '146935': 5,
   '14702': 1,
   '147046': 5,
   '147281': 1,
   '147287': 2,
   '147566': 1,
   '1479': 1,
   '147900': 1,
   '147909': 1,
   '148130': 1,
   '14836': 1,
   '148361': 1,
   '148404': 2,
   '148559': 2,
   '148691': 1,
   '148708': 3,
   '148718': 2,
   '148786': 1,
   '14880': 1,
   '148830': 2,
   '148853': 1,
   '149139': 1,
   '1492': 1,
   '149247': 1,
   '149281': 1,
   '149534': 2,
   '149679': 1,
   '149703': 1,
   '149803': 1,
   '149819': 1,
   '149828': 1,
   '150018': 2,
   '150043': 1,
   '150056': 3,
   '150368': 1,
   '150510': 1,
   '15069': 1,
   '150773': 1,
   '150902': 1,
   '151285': 1,
   '151594': 6,
   '152078': 2,
   '152276': 3,
   '152347': 1,
   '152391': 10,
   '152551': 3,
   '152731': 3,
   '152757': 1,
   '152893': 1,
   '153046': 2,
   '153069': 1,
   '153073': 2,
   '15330': 1,
   '153305': 1,
   '153400': 1,
   '153435': 1,
   '153602': 2,
   '153685': 2,
   '153765': 9,
   '153868': 1,
   '154295': 9,
   '154377': 1,
   '154435': 1,
   '154546': 2,
   '154776': 1,
   '155138': 1,
   '155304': 1,
   '155433': 1,
   '155822': 1,
   '155863': 1,
   '156453': 1,
   '156633': 2,
   '157347': 1,
   '157349': 39,
   '157373': 1,
   '157532': 1,
   '157645': 1,
   '1579': 1,
   '158011': 2,
   '158035': 3,
   '158048': 3,
   '158190': 3,
   '158300': 1,
   '158391': 2,
   '159226': 1,
   '159257': 1,
   '159300': 1,
   '159370': 12,
   '159373': 1,
   '159611': 1,
   '159803': 3,
   '159844': 4,
   '159909': 1,
   '159947': 1,
   '160062': 1,
   '160331': 5,
   '16043': 1,
   '160440': 1,
   '160480': 1,
   '16068': 2,
   '161015': 1,
   '161275': 3,
   '161425': 2,
   '161543': 12,
   '161570': 4,
   '161673': 3,
   '161767': 1,
   '161801': 5,
   '161819': 19,
   '161853': 1,
   '161885': 2,
   '162401': 1,
   '162518': 1,
   '163127': 1,
   '163379': 1,
   '163413': 1,
   '163656': 1,
   '163762': 1,
   '1638': 1,
   '163824': 7,
   '163915': 1,
   '164138': 1,
   '164643': 2,
   '165288': 4,
   '165405': 1,
   '165507': 1,
   '165587': 1,
   '165636': 33,
   '165752': 2,
   '166063': 1,
   '16631': 5,
   '166441': 1,
   '166495': 1,
   '166536': 1,
   '167033': 1,
   '167142': 1,
   '167263': 1,
   '167499': 2,
   '167779': 1,
   '167828': 1,
   '167845': 1,
   '168200': 1,
   '168420': 5,
   '168450': 1,
   '168587': 2,
   '168611': 1,
   '168692': 1,
   '169039': 1,
   '169041': 4,
   '169112': 1,
   '169119': 5,
   '169283': 1,
   '169412': 2,
   '16980': 1,
   '169922': 5,
   '17022': 1,
   '17025': 2,
   '170288': 7,
   '170376': 3,
   '170478': 1,
   '170930': 1,
   '170978': 1,
   '171076': 5,
   '171108': 5,
   '171152': 1,
   '172245': 1,
   '172287': 1,
   '172300': 2,
   '172610': 1,
   '172759': 1,
   '172785': 1,
   '172818': 2,
   '172824': 1,
   '173229': 1,
   '173279': 1,
   '173505': 4,
   '173584': 1,
   '17362': 1,
   '173700': 1,
   '173847': 3,
   '17387': 1,
   '174073': 6,
   '174118': 1,
   '174126': 1,
   '174226': 3,
   '174446': 1,
   '174664': 1,
   '174751': 1,
   '174787': 1,
   '17514': 1,
   '175156': 3,
   '175255': 1,
   '175270': 2,
   '175286': 4,
   '175645': 1,
   '175714': 5,
   '175880': 1,
   '176100': 1,
   '176129': 1,
   '176261': 2,
   '176763': 2,
   '176953': 1,
   '177078': 1,
   '177174': 1,
   '177178': 1,
   '17787': 1,
   '178092': 2,
   '178146': 1,
   '178285': 1,
   '178366': 1,
   '178623': 1,
   '179028': 1,
   '179168': 1,
   '179259': 1,
   '179351': 2,
   '179641': 1,
   '179723': 3,
   '179803': 1,
   '179867': 1,
   '179907': 6,
   '179956': 3,
   '180567': 1,
   '180582': 1,
   '180626': 4,
   '180970': 30,
   '181203': 1,
   '181288': 1,
   '181294': 1,
   '181324': 1,
   '181455': 2,
   '181920': 2,
   '182039': 4,
   '18213': 1,
   '182367': 1,
   '18280': 1,
   '182844': 2,
   '182866': 1,
   '182910': 1,
   '183071': 2,
   '183325': 3,
   '183350': 1,
   '183434': 12,
   '183489': 1,
   '183575': 2,
   '183703': 2,
   '184024': 2,
   '184095': 1,
   '184172': 1,
   '184263': 2,
   '184282': 1,
   '184335': 1,
   '184368': 1,
   '184379': 1,
   '184530': 2,
   '184540': 9,
   '184674': 1,
   '185177': 1,
   '18524': 1,
   '185344': 1,
   '185705': 1,
   '185739': 1,
   '185829': 1,
   '185990': 1,
   '186158': 1,
   '186164': 1,
   '18623': 1,
   '186420': 1,
   '186433': 1,
   '186443': 1,
   '186746': 2,
   '187170': 2,
   '187223': 1,
   '18734': 1,
   '187549': 1,
   '187600': 1,
   '187624': 1,
   '187797': 1,
   '187885': 1,
   '187978': 1,
   '188004': 1,
   '188165': 1,
   '18848': 9,
   '188821': 1,
   '188863': 6,
   '18888': 1,
   '188904': 1,
   '189186': 1,
   '189203': 2,
   '189300': 1,
   '189637': 2,
   '189780': 2,
   '189794': 2,
   '189974': 28,
   '190076': 1,
   '190118': 1,
   '190138': 1,
   '190315': 2,
   '190502': 3,
   '190560': 1,
   '190903': 1,
   '191044': 1,
   '191173': 1,
   '191226': 4,
   '191268': 1,
   '191279': 1,
   '191341': 1,
   '191522': 1,
   '192147': 3,
   '192229': 1,
   '19223': 1,
   '192605': 1,
   '192815': 7,
   '19286': 2,
   '193156': 1,
   '19317': 1,
   '193258': 1,
   '193732': 1,
   '19378': 1,
   '194151': 1,
   '194190': 7,
   '194291': 1,
   '19497': 1,
   '195086': 5,
   '195177': 1,
   '195189': 1,
   '195234': 1,
   '195270': 1,
   '195723': 1,
   '195841': 2,
   '196132': 1,
   '196171': 1,
   '196204': 1,
   '196713': 1,
   '197007': 1,
   '19714': 1,
   '197228': 1,
   '197439': 2,
   '197691': 1,
   '19852': 2,
   '198525': 1,
   '198705': 1,
   '199063': 1,
   '199163': 2,
   '199605': 1,
   '199617': 1,
   '199685': 2,
   '199934': 1,
   '200009': 1,
   '200037': 2,
   '200082': 8,
   '200125': 2,
   '200127': 2,
   '200133': 2,
   '200146': 1,
   '2002': 5,
   '200526': 1,
   '200573': 1,
   '20104': 4,
   '201108': 1,
   '201264': 1,
   '201709': 1,
   '201830': 1,
   '201956': 1,
   '202005': 17,
   '202066': 5,
   '202082': 1,
   '202163': 1,
   '202222': 1,
   '202372': 1,
   '202442': 1,
   '202580': 2,
   '202870': 2,
   '202925': 2,
   '203434': 7,
   '203487': 1,
   '203767': 1,
   '203788': 1,
   '203932': 8,
   '203935': 1,
   '204011': 1,
   '204033': 3,
   '204114': 1,
   '204342': 1,
   '204343': 3,
   '204365': 1,
   '204482': 3,
   '204619': 1,
   '204638': 6,
   '204855': 1,
   '205096': 1,
   '206139': 1,
   '206149': 1,
   '206739': 2,
   '20692': 1,
   '206962': 1,
   '20735': 3,
   '207479': 1,
   '20753': 1,
   '207593': 1,
   '208148': 1,
   '208657': 2,
   '208682': 4,
   '208698': 3,
   '209221': 1,
   '209460': 1,
   '209778': 13,
   '209869': 1,
   '209937': 1,
   '210364': 1,
   '210418': 1,
   '210542': 1,
   '210554': 1,
   '21058': 1,
   '210717': 1,
   '210803': 3,
   '210885': 1,
   '210904': 2,
   '211023': 3,
   '211094': 14,
   '211259': 2,
   '211280': 1,
   '211366': 1,
   '211808': 1,
   '211861': 6,
   '212836': 1,
   '213018': 3,
   '213370': 1,
   '213473': 1,
   '213627': 1,
   '213891': 1,
   '21403': 13,
   '214333': 1,
   '214412': 1,
   '21469': 1,
   '214743': 1,
   '215410': 1,
   '215624': 1,
   '215972': 1,
   '216236': 4,
   '21683': 1,
   '21698': 4,
   '217471': 1,
   '217654': 2,
   '218539': 1,
   '218762': 1,
   '218766': 1,
   '219305': 1,
   '219316': 1,
   '21950': 1,
   '219610': 2,
   '220076': 1,
   '220209': 2,
   '220341': 3,
   '220621': 1,
   '221149': 1,
   '221303': 2,
   '221307': 15,
   '221396': 8,
   '221398': 1,
   '221400': 1,
   '221411': 5,
   '221607': 5,
   '221807': 1,
   '221985': 2,
   '222010': 1,
   '222114': 1,
   '222195': 1,
   '222395': 1,
   '223133': 1,
   '223249': 3,
   '223278': 1,
   '223501': 1,
   '224023': 1,
   '224051': 5,
   '224201': 1,
   '224359': 1,
   '224422': 1,
   '224554': 1,
   '224718': 1,
   '225227': 1,
   '22527': 2,
   '225435': 1,
   '225546': 5,
   '225577': 2,
   '225579': 1,
   '225790': 1,
   '225859': 1,
   '225941': 1,
   '226107': 1,
   '226400': 1,
   '226648': 2,
   '226669': 5,
   '227065': 1,
   '227104': 1,
   '227482': 1,
   '227562': 1,
   '228022': 1,
   '228054': 4,
   '228262': 1,
   '228269': 1,
   '228276': 2,
   '228324': 3,
   '228364': 2,
   '228451': 2,
   '228514': 7,
   '228554': 1,
   '228658': 1,
   '228673': 1,
   '228725': 1,
   '228732': 2,
   '228815': 1,
   '228975': 1,
   '229324': 1,
   '229444': 2,
   '229541': 1,
   '230116': 1,
   '230208': 1,
   '230445': 1,
   '230477': 1,
   '230538': 1,
   '230564': 6,
   '230812': 1,
   '230838': 1,
   '230955': 1,
   '231020': 1,
   '231114': 1,
   '231144': 1,
   '231185': 2,
   '231744': 1,
   '231798': 1,
   '232320': 1,
   '232809': 2,
   '232837': 3,
   '232908': 1,
   '232947': 1,
   '232956': 1,
   '233288': 1,
   '233678': 1,
   '233753': 1,
   '233798': 1,
   '233855': 1,
   '233878': 1,
   '233901': 1,
   '233911': 1,
   '23394': 2,
   '233977': 1,
   '234098': 1,
   '234109': 1,
   '234129': 1,
   '234144': 1,
   '234381': 2,
   '234386': 2,
   '23474': 1,
   '234831': 1,
   '234880': 1,
   '234931': 1,
   '234997': 1,
   '23510': 1,
   '235117': 1,
   '235617': 1,
   '235733': 1,
   '235746': 1,
   '235758': 1,
   '235831': 20,
   '235902': 2,
   '236107': 1,
   '236252': 1,
   '236363': 5,
   '236827': 1,
   '236833': 1,
   '237165': 1,
   '237228': 1,
   '23751': 1,
   '237999': 1,
   '238334': 1,
   '238355': 1,
   '238526': 1,
   '238599': 4,
   '238897': 1,
   '238915': 5,
   '238948': 1,
   '23955': 1,
   '239805': 1,
   '239895': 1,
   '24000': 1,
   '240017': 2,
   '240072': 1,
   '240209': 1,
   '240959': 5,
   '240964': 1,
   '241004': 2,
   '241070': 2,
   '241221': 1,
   '24130': 1,
   '241375': 1,
   '241559': 1,
   '241572': 1,
   '241991': 1,
   '242068': 3,
   '242167': 1,
   '242462': 6,
   '24250': 2,
   '242522': 1,
   '242817': 1,
   '242846': 1,
   '242892': 1,
   '242957': 1,
   '243451': 1,
   '243606': 1,
   '243745': 1,
   '244192': 1,
   '245462': 1,
   '245488': 3,
   '245715': 40,
   '245721': 1,
   '245734': 1,
   '246190': 1,
   '246778': 1,
   '246796': 5,
   '247108': 1,
   '247481': 4,
   '247861': 1,
   '247876': 1,
   '248009': 4,
   '248094': 1,
   '248188': 3,
   '248210': 3,
   '248399': 1,
   '248521': 3,
   '248566': 1,
   '248676': 2,
   '248739': 2,
   '248948': 9,
   '249013': 1,
   '249592': 2,
   '249717': 1,
   '249900': 1,
   '24996': 1,
   '249980': 1,
   '250062': 7,
   '250504': 1,
   '250536': 1,
   '250603': 4,
   '250614': 1,
   '250622': 6,
   '250784': 1,
   '251054': 1,
   '251334': 1,
   '251392': 1,
   '251758': 2,
   '251992': 3,
   '252260': 1,
   '25232': 2,
   '252508': 1,
   '252528': 1,
   '252563': 2,
   '252817': 4,
   '252849': 6,
   '25294': 4,
   '252974': 2,
   '25301': 1,
   '25303': 1,
   '253031': 1,
   '253248': 1,
   '253598': 1,
   '253788': 6,
   '254422': 1,
   '254436': 2,
   '254599': 1,
   '254745': 1,
   '255035': 1,
   '255126': 1,
   '255210': 1,
   '255588': 1,
   '255785': 1,
   '256195': 1,
   '256435': 1,
   '25653': 1,
   '256767': 2,
   '257082': 1,
   '257088': 1,
   '257216': 2,
   '257426': 2,
   '257614': 1,
   '257791': 2,
   '257798': 11,
   '257814': 1,
   '257869': 1,
   '258165': 1,
   '258206': 1,
   '258297': 1,
   '258482': 4,
   '258705': 1,
   '258725': 1,
   '258870': 1,
   '258908': 1,
   '258927': 6,
   '259387': 1,
   '259702': 1,
   '260174': 1,
   '260270': 1,
   '260521': 1,
   '260860': 2,
   '261027': 1,
   '261120': 1,
   '261180': 4,
   '261201': 16,
   '261233': 1,
   '261646': 1,
   '261900': 1,
   '262086': 1,
   '262548': 2,
   '262896': 1,
   '262911': 1,
   '263198': 1,
   '263881': 6,
   '263956': 3,
   '264237': 4,
   '264248': 11,
   '264431': 1,
   '265199': 2,
   '265213': 6,
   '26537': 12,
   '265398': 1,
   '26575': 1,
   '266034': 1,
   '266049': 1,
   '266122': 1,
   '266242': 1,
   '266376': 10,
   '266383': 1,
   '266521': 2,
   '266608': 2,
   '266678': 1,
   '267188': 1,
   '267286': 2,
   '267416': 5,
   '267572': 1,
   '267641': 2,
   '267772': 1,
   '267828': 6,
   '267841': 1,
   '267889': 2,
   '267996': 1,
   '268283': 1,
   '26830': 1,
   '268539': 1,
   '268790': 1,
   '26947': 1,
   '269750': 1,
   '269878': 1,
   '269899': 2,
   '27003': 1,
   '270068': 1,
   '270087': 1,
   '270442': 1,
   '270486': 1,
   '270519': 11,
   '271089': 1,
   '27118': 1,
   '271205': 1,
   '271417': 4,
   '27165': 1,
   '271836': 1,
   ...})]

In [4]:
print(session_neighbours.shape)
session_neighbours.head()

(190037, 2)

   person_id                                 session_neighbours
0     332749  288070 124041 11423 442798 291362 52354 70915 ...
1     288070  332749 269833 5399 88671 109097 313066 147287 ...
2     154295  288626 341684 325050 46425 390636 360406 10326...
3     288626  154295 341684 325050 17514 203180 100758 29122...
4     341684  154295 288626 325050 84554 219840 318259 21984...

In [5]:
# session_neighbours.loc[0, 'session_neighbours']

'288070 124041 11423 442798 291362 52354 70915 245488 417177 399353 50321 359758 455930 399329 42218 21950 249900 332244 286859 110855 159300 159611 62678 84244 161015 114966 258705 371043 196132 287752 67354 369381 338261 27165 441362 452099 262896 121972 165405 70070 106222 55207 368250 155863 379822 234386 227562 434646 392962 86376 354892 73357 291837 360509 204114 364910 199934 85842 12631 62568 363805 348947 364597 386855 163656 353623 318475 214743 398072 52023 55136 258927 82359 62444 448656 34180 452823 47307 284448 221307 208657 108267 203935 328397 174073 273651 415453 3452 449356 304049 297016 117020 433041 277494 211094 323879 83974 413521 461101 235831 57272 74545 47552 383822 159844 42456 385714 460815 49971 279548 431811 55438 444371 41200 273573 283744 449220 242068 149679 76404 304591 267416 433523 14125 114283 411805 47154 253248 371765 236107 393820 42032 400168 74637 261027 314219 8102 303270 349103 362541 154377 305019 203487 273495 426900 123386 40656 233878 204855 359428 359738 318632 356929 34667 141405 334737 436980 167828 338916 221303 436008 234098 169112 451562 321616 431155 459139 3239 242846 258482 372902 320569 148361 207479 30345 260860 406420 383493 282544 83210 120461 163413 407598 250062 363390 410654 178366 435209 277205 87347 213627 420409 114943 121728 316825 440244 402051 449955 351912 345797 33594 25301 17787 220076 341034 167779 166063 376987 256195 446356 114195 164138 266678 422418 149803 267572 251054 393297 81625 88553 44557 74545 448656 189974 454824 455191 322732 8846 161819 448656 82146 120605 83974 180970 221396 272882 66656 3452 447098 397111 323879 120937 74545 9425 273654 273676 161543 119901 372354 273339 36777 325050 408323 114772 6862 141523 165636 183325 295069 225790 112565 81532 173584 379712 453951 447098 47307 323879 165636 273676 6862 141523 146749 120605 448656 34180 245715 75957 354893 295069 9425 37325 47113 438229 3452 287177 397111 374349 325050 36777 417783 52974 273676 208682 183325 84877 200082 323879 273339 165636 303002 204638 372354 192815 183325 57493 345863 257798 47552 50856 109444 157349 188863 159844 47425 412312 71529 73620 34726 434001 349105 448307 7082 72793 349769 74545 7085 121878 51312 286785 183071 168587 221396 87937 183434 272882 372354 228975 314734 283127 62444 372354 183434 74545 284716 171108 204638 50644 451516 202870 47638 189637 310330 314734 52545 47552 448307 428903 455191 157349 87937 192815 298594 8323 417853 458805 314734 47425 52545 453971 189637 252817 434001 138767 113944 286091 141934 447098 258165 462060 180970 281608 407742 124222 226669 370973 56940 86738 287159 61644 180970 201108 243451 458979 250062 447098 1479 462060 58041 448656 281608 407742 86738 55227 113916 154546 206139 179351 174751 266608 56940 370973 450852 47600 381849 428903 448656 462060 447098 273651 301719 289844 250062 65591 249592 287159 183071 283127 370095 448656 462060 295069 226669 249592 281608 412312 249980 266608 235831 448656 7085 266242 447098 343455 407742 295069 256767 47600 47113 47425 250062 265213 407700 180970 448608 448656 88792 447098 462060 179351 281608 4807 295069 448639 256767 47600 152551 323879 231744 287159 209778 273654 18888 310102 406728 161543 120937 245715 447098 248188 283873 235831 47552 448608 448656 113916 32223 53400 72793 18280 47307 47113 366893 200082 163824 157645 250062 252817 83974 226669 438229 157349 113616 281608 157349 359758 415063 34180 54198 299571 87999 409784 363268 80485 46185 47307 120605 28889 83974 180970 447098 245715 211094 33937 161819 245715 157349 180970 372354 231185 447098 235831 264248 211094 262086 36777 157349 235831 275369 211094 377440 87999 156633 157349 235831 275369 456780 47307 87999 228054 120605 323294 57473 157349 377440 456780 448307 47307 275369 49889 87999 228054 157349 26537 370746 231185 73297 49889 165636 377440 456780 305559 138767 463622 78662 157349 26537 323294 447098 28889 49889 165636 377440 69536 456780 374215 272882 379748 165636 26537 140510 190315 306847 49889 417554 157349 203932 33937 377440 211094 412203 47307 87999 26537 379748 73297 49889 377440 157349 203932 82483 195086 87999 26537 379748 157349 287606 49889 377440 203932 456780 87999 26537 49889 165636 377440 157349 203932 456780 26537 157349 275369 210803 81816 87999 26537 323294 157349 28889 203932 275369 120605 111262 220341 26537 211861 87999 28889 120605 405072 341053 200125 210803 220341 303362 115120 26537 28889 341053 120605 203932 275369 324130 33369 332233 104676 210803 115120 26537 341053 28889 203932 111262 123373 75552 303362 115120 179867 376876 310996 180970 153400 120605 28889 403880 166495 7085 235117 342736 408017 9425 195086 165636 377440 123373 52124 290008 220341 120605 370746 50054 323879 448307 85659 298627 346353 36777 353364 104676 79100 157349 323879 85659 36777 252849 336778 28889 50054 211094 33937 75552 358782 430282 340168 252849 161425 336778 88300 28889 79100 50054 430282 266376 252849 115120 161425 336778 326969 88300 157349 28889 14880 79100 50054 75552 358782 342736 430282 340168 310996 190560 332233 26537 165636 37951 388386 372354 50054 367481 232908 408323 102923 331752 157349 310102 241004 152551 370746 110264 394143 444190 8323 47425 174118 448499 74545 119901 408017 309594 173505 50625 228451 66304 202870 51414 281542 409172 309594 446002 208682 61761 50625 136387 264248 112443 4807 148691 207593 79219 283873 145316 466244 410997 181324 71618 418055 7965 287213 468000 82407 15330 440134 67927 345220 431724 21469 9425 291837 157349 52545 226648 324254 229444 279548 441648 37888 235831 1226 229324 355920 371134 372386 406654 165636 298594 276125 74545 331896 9425 226648 2002 459247 119901 312286 1579 9425 298594 67496 446387 333568 29805 309369 73348 318259 113916 300996 58373 351270 191173 101774 120605 250062 59221 134178 267641 160331 72509 451183 147281 211094 463458 153305 451887 37779 204011 375681 109597 9425 409271 103673 116222 194151 49448 409403 377557 315521 447535 215624 172610 121508 53342 230564 359758 448656 228514 211861 209778 161570 297177 269750 366893 195177 25232 180970 42005 47600 260270 305798 281607 238355 431930 310102 23394 46477 286415 273654 374349 3165 200082 401994 304919 397111 47600 370746 8323 286415 374349 397111 47600 370746 366893 228732 120605 448656 77884 73921 447098 139394 7085 372354 158190 161570 46477 160331 304919 381898 47307 88074 283873 448608 448656 449356 462358 447098 195086 76766 120605 111610 309158 382462 41236 188165 228514 158190 407575 370746 270442 281608 294777 161570 343695 381898 109444 288441 442611 311460 324194 28445 336811 290596 38119 47425 188863 54198 272882 257426 441741 189974 230445 183434 320572 257798 407700 354893 208698 437683 408315 28445 4807 161819 301667 364324 129 159844 272882 447579 36781 311460 158391 104885 230838 211023 242522 170978 297550 382722 147566 450200 325531 302891 252849 448656 55411 84280 52631 19714 324130 360472 316708 270519 254599 74637 82466 415063 42218 188004 115942 405711 381853 292035 240072 102923 404278 35673 203932 37534 210542 362191 447240 25653 300239 352725 12269 167033 321051 200082 173700 8418 81767 74535 227065 111494 186164 185739 3165 295530 330262 445063 235831 57597 405123 347488 441486 288638 270068 153073 338035 437648 385650 407450 153073 276125 228054 168692 417853 229444 3452 406728 50826 150043 72680 448656 325738 47201 250614 464582 286763 236833 176129 210717 405009 247481 159226 348095 113444 165288 342663 8142 188863 353251 323465 281608 166441 53841 75552 7085 65863 73297 8323 9425 71740 33236 73001 12114 47517 6862 13913 47425 203434 449356 9425 102923 157349 7085 310102 230564 273676 374349 258297 366893 160331 408017 152551 87937 182039 17022 110264 125614 111905 439893 187170 304219 418055 179803 235758 17362 296250 88074 78557 16068 75552 188863 399543 409271 385990 386683 9425 125614 157349 138953 444190 109854 16068 288626 87937 55570 8831 161543 382894 304906 314732 113916 448988 273676 55438 29805 67927 288638 87937 317415 153046 19852 273651 59996 433936 1146 372354 47307 153765 211861 148830 273517 67565 21058 171152 75552 155304 125614 35320 184172 50625 27251 219305 19317 172818 228022 117090 177174 69973 47425 291303 165636 175255 241004 324194 242462 317094 389762 71538 157349 173279 250784 353495 290896 158048 440739 27003 373892 186158 27823 28648 37144 59820 291212 10764 135263 332540 8119 114772 47552 432460 47438 72866 242462 359809 436330 228725 177178 111754 161543 113944 264248 47307 157349 180970 171108 47438 211280 8323 281623 224359 204482 306470 390636 246778 232809 463077 226107 167499 152276 101903 310102 153765 360375 415063 70158 134178 449356 257869 341960 435780 234997 87937 137692 31464 451978 59684 175880 195841 185177 157349 182844 335295 444692 415063 182844 389008 335295 204482 297954 310102 415063 449356 397111 188821 157349 357803 389008 58909 262911 444692 352465 3452 359951 372902 288638 401129 288638 184095 357093 403836 288638 372354 467771 175286 113944 153602 161885 41200 224051 183434 23751 34180 43502 257798 148130 190502 136387 447521 448656 172300 228815 400982 20104 75011 183434 329591 52873 409061 447521 175286 36823 310102 152893 115120 83974 102923 20104 248210 183434 281608 40656 202005 78868 180567 175286 134178 70336 448608 448656 107039 229541 456239 34180 283744 404306 191226 217654 415063 267416 257798 79100 41200 242957 142357 75066 67953 169039 224051 251992 211094 328311 183703 353364 55714 143688 190502 202005 438992 412828 180970 183434 224051 184024 20104 447521 9425 284495 200037 221307 226669 142357 248521 257791 447098 191226 467051 180970 88213 182367 142357 18734 35531 400982 224051 57868 392772 449356 79100 245715 329591 451978 11467 284716 138257 235733 448656 257798 136387 11774 34499 202005 257216 438992 70336 448656 102923 228324 324130 113944 200037 180582 451978 223249 191226 52545 267416 454163 257798 115120 75552 183703 363861 11467 284495 34180 315902 194190 142357 449356 318632 83974 251992 183434 447521 9425 19286 245715 352463 318207 190502 202005 55714 297954 447098 409307 298260 79100 359758 19378 240964 88213 167142 363861 138257 330418 211094 224051 449356 20104 284716 283744 161885 50625 79100 167499 371765 417554 184530 248094 267416 451978 202066 359758 142357 363861 248210 102923 191226 380234 449356 251992 79100 19286 257798 318207 202005 209778 319762 149703 41200 137865 451978 184024 83974 11467 211094 55714 100904 83974 180970 280826 273676 409403 180970 251334 142357 435645 223249 43870 951 125614 107039 339127 262548 164643 142931 452670 73819 398683 350711 329377 14836 38323 368076 463086 318226 61530 455310 304584 339510 339127 153765 34180 273056 113944 224718 47425 158035 235831 48028 11774 274897 148718 102923 62401 42070 364811 221149 262548 329377 74545 339434 451516 75370 122873 72238 151285 438353 61302 224201 55591 252563 235831 37888 110264 5399 356910 357093 458315 398683 195723 426292 107039 283841 430295 351811 12709 402612 35601 141523 123235 304584 403248 392889 101611 221307 52545 204638 116222 104521 113944 113916 6862 451516 117020 255588 415063 36272 55438 213370 198705 321850 118970 449710 230477 28347 418479 230208 58607 118175 102352 118901 206962 256435 88733 401528 29320 250504 139394 70740 284711 368083 65625 117027 274155 276626 188863 248676 88151 414988 303680 1492 87830 273654 53169 321482 313454 191279 359171 467771 104885 271205 41097 134615 242068 415063 133573 66215 58607 153602 172824 319024 11887 203767 56359 50054 34939 52929 359738 201709 228269 332411 103018 174787 143451 457022 446786 353552 156453 337382 467886 360375 334624 45178 372386 463622 46425 54198 221303 448656 120605 218762 218766 169922 447098 272882 318239 113944 139394 356588 323465 88074 280451 52545 75575 295016 31464 414285 87937 245715 145761 187797 209778 161543 47307 296457 221307 202925 339434 417783 153765 234831 228514 174073 161819 310102 139394 120605 203434 145224 81532 281608 52545 3452 200125 283227 221396 449356 202925 455191 318239 448307 66304 4807 163127 9425 233753 405711 203434 403590 32223 267641 397111 250062 382462 219316 119491 234880 438992 303724 268790 86738 234144 463622 458006 88675 158048 189974 376391 209778 180970 281608 3452 47552 161543 374154 455570 420178 174073 138953 422451 189794 245715 181288 146060 31793 363861 179641 344382 300094 404396 33384 261646 273651 412502 201264 48880 19223 78839 104521 24996 230812 148786 461193 336274 405676 379614 282233 365030 136860 27118 26947 71630 238897 14702 230955 446216 457329 181294 36194 44642 123440 47573 10617 167845 298498 197691 196204 331623 372920 202163 56531 198525 253031 416150 74262 322732 33937 413521 157349 261120 408323 209778 47425 113916 328397 273676 224023 385990 112321 34904 230564 386713 170478 284996 200127 455191 303002 328397 125614 161819 50914 221307 286387 235831 418668 51050 441290 466633 106237 372354 444209 267416 172300 112876 28268 8943 342486 133924 246796 223133 372875 316850 88792 33187 177078 158035 332463 159947 203788 304183 402206 305646 160440 209869 231798 350905 6339 30381 418668 272066 464900 344801 283127 241559 427491 140693 339843 158011 221411 212836 304285 109210 395445 345699 67399 115432 11456 309884 224554 357917 35601 187978 339300 427491 426268 228276 219610 235902 390795 233977 82017 434913 196713 63582 137310 147287 356414 257614 136378 463186 108766 294159 414988 166536 13225 296457 314172 56683 338876 107846 283373 214412 418668 427491 271417 381545 100889 264248 241221 228732 328483 140609 210885 147287 241070 255035 466533 385776 277046 26575 29342 170376 184674 372354 416607 54475 420270 242892 273329 235902 325836 136605 40656 56726 107846 33187 386962 463333 337382 411832 46853 246796 11092 342264 381545 41353 146143 252974 418668 30496 222010 276822 112091 235746 5399 88330 8708 215410 422538 149828 459273 115611 344801 427491 158011 228262 341524 282317 122559 16043 42218 190903 182910 406006 434913 385197 241070 339300 303362 9862 28268 245715 233855 276125 26830 246796 243745 411742 252974 38324 12160 190118 238948 422113 189300 186443 213473 344878 117784 117985 419255 153435 331752 8323 211023 257798 4807 455191 146749 366893 320211 389992 447098 120605 232837 54897 176261 326969 52124 33937 134615 286091 270519 245715 17514 328596 324130 87999 28224 144983 421599 237165 235831 221307 344382 281608 436860 324194 371925 291837 450545 218539 107364 319478 250536 161819 403175 453154 47552 211808 437648 451516 47438 172287 125614 109433 138235 438295 378395 252849 277402 431357 450072 281291 347607 299571 136043 162518 454601 319196 384519 304221 293086 69129 281607 312370 141567 338305 191268 252260 336529 32229 257426 288372 428903 426087 236827 231020 348354 168587 354095 165507 301719 19497 329090 141466 318670 299310 158391 430750 183489 431930 245715 211861 157349 180970 323006 233678 400982 310102 386213 281608 386142 221307 450072 47438 33937 149247 103498 202580 9425 50625 102923 113916 221398 185990 161819 82200 184263 282164 114772 420678 257791 440304 52545 247861 300657 138767 417853 226669 209778 171108 199617 291303 52873 28108 71524 277298 68826 168611 110792 265398 322304 47844 145224 448275 24130 258908 319392 268539 28889 425780 50914 88074 366893 425769 273676 120594 255785 253598 122056 120602 204619 3165 74545 417737 88074 120313 336893 181920 323879 59820 317863 434585 59992 288441 192815 422240 390146 209778 139394 209778 47425 49442 448406 323879 86738 47113 394257 438229 172818 221307 47438 173847 183434 50625 336811 65863 221807 337343 289124 36194 370095 406728 322732 189974 176261 448307 170930 225546 30502 317863 370720 53400 158048 28889 138953 264237 442363 18213 88941 101590 247481 394776 157347 273792 113916 61360 88294 332775 291837 305029 374349 42456 237228 50644 245715 163824 82081 235831 86707 216236 161819 158190 347488 12114 287161 265199 248676 457833 455191 288441 111754 272882 312747 117210 83974 120937 189794 277997 417391 390146 301719 454824 141523 441994 8323 422452 273676 58486 345863 114772 125614 293885 6339 210418 447098 115971 284716 447098 285363 9425 2002 5080 399353 427319 202066 104243 140510 109433 112443 360208 14176 344382 142114 150902 50278 69788 369849 460470 387367 460911 323390 240209 412312 447521 107168 221307 174226 154546 83974 234129 462653 208682 191341 134466 360406 272420 137954 367892 222114 324130 362899 413521 192147 406831 52631 104885 441648 184530 369762 4807 291529 157349 232956 390585 370804 408017 258206 36777 245715 200082 74545 104207 371784 403590 295069 50625 235831 323879 192815 120937 273651 366893 221307 55582 245721 448656 165288 74545 47113 83974 125614 122978 322936 189974 408323 442363 264237 62444 328397 238599 372354 180970 161819 421422 301719 221307 366893 438229 440304 245715 74545 264237 386683 235831 204343 442363 408323 450072 382583 165636 277519 142123 88377 108267 112778 55227 254745 120937 293878 295530 351903 4807 117509 11005 47425 447098 165636 419631 285363 240017 354177 205096 228324 465831 182039 28445 287177 60994 288626 290896 202005 173505 305029 145224 36777 6656 204482 311224 100758 4807 257088 447579 161543 246796 228324 211861 448656 465831 248009 165288 372354 179956 283127 3165 323879 248210 264248 225435 276726 235831 318239 295069 374139 36777 386683 113944 300587 221396 58094 47438 108267 51414 83974 82146 57493 11467 296491 189974 161819 281142 450072 267996 445406 173505 200573 208682 397002 8323 138953 372366 109433 49227 67434 60994 69691 284716 176953 165636 142123 46651 182039 36194 448275 331208 160331 118791 433041 55529 206739 305029 136043 200009 329869 417391 457833 33709 192815 75439 85513 61772 374349 257216 175156 82147 215972 336811 54198 221396 298594 175156 428011 118791 67424 252563 206739 225546 148718 154435 245715 411412 281607 62082 180970 359758 450251 49971 378410 452182 248009 113944 431930 228514 257798 299571 34180 314732 86006 273651 221307 153765 52545 714 39320 333088 173847 50914 270486 11467 138257 354785 116222 272882 417853 183434 242462 56683 104676 109444 271417 179723 323879 284716 453838 328397 157373 343695 366893 184263 434001 109433 463622 214333 442298 414227 191044 152276 315902 330858 241375 23394 19852 266521 349456 220209 336241 106350 149281 404329 197228 234109 209460 380445 195841 432971 380675 242817 280311 21683 376005 102835 354260 83974 174446 163379 447521 309261 366893 371134 267889 175286 83035 273654 427755 340118 310102 42836 445063 403996 409307 24000 33883 17025 67651 447521 366893 228673 371134 338192 290797 267889 83035 169922 273654 427755 279606 323294 25232 3042 111203 340118 376751 365392 58732 394434 148559 403996 409307 59221 109301 124519 447098 407620 33883 348505 17025 42836 448489 67651 320572 447521 202066 319839 463077 342586 447098 213018 334038 189780 348505 197007 202066 427755 340118 148559 194291 437683 324301 145224 159373 52873 112213 324653 172785 16980 189974 50625 230564 206149 282353 312289 258870 276125 32091 359758 133544 13901 164643 403590 456239 322788 451926 310102 139394 462060 408323 182866 294794 46477 4807 420178 209778 160331 109854 331571 213891 75440 295069 161570 458805 148708 110729 419189 338405 311460 238599 3165 252817 53383 161819 438992 120937 452823 88792 201830 309594 211094 448307 30502 228658 316137 322936 252817 273676 451183 72265 34180 288234 313369 208698 157349 47552 138767 458805 407840 142327 9425 347488 148404 145224 311460 351097 473120 36243 147909 428133 464682 282694 449833 454574 259387 271836 147900 471086 272285 440070 247876 39334 174126 86109 144662 190076 344386 310102 228054 386142 163824 440825 286640 303362 300587 50625 186433 378754 429330 331685 372354 102923 224422 75424 11328 187549 393747 171108 176763 172245 454859 325765 323879 87937 201956 191522 401750 429214 58000 120765 386713 466939 232320 200146 30815 165752 315902 390636 47213 399353 100904 38432 180970 7085 283873 9425 183434 281608 50413 180970 102923 281608 7085 283873 9425 291362 349130 34328 245488 9425 67773 317324 351912 349130 34328 9425 178092 317324 351912 418078 1

In [ ]:
# %%time
# session_neighbours['neighbours_counts'] = session_neighbours['session_neighbours'].apply(dict_unique_counter)

In [55]:
df_lst = []
for _, (person, neighbours) in tqdm(session_neighbours.iterrows()):
    neighbours_counts = dict_unique_counter(neighbours)
    df_lst.append((person, neighbours_counts))
#     break

100it [00:01, 79.74it/s]

In [54]:
session_neighbours = pd.DataFrame(
    df_lst,
    columns=['person_id', 'neighbours_counts']
)

[(332749,
  {'100758': 1,
   '100889': 1,
   '100904': 2,
   '101590': 1,
   '101611': 1,
   '101774': 1,
   '101903': 2,
   '102300': 1,
   '102352': 1,
   '102835': 1,
   '102923': 12,
   '103018': 1,
   '103260': 2,
   '103498': 1,
   '103673': 1,
   '103871': 7,
   '104139': 7,
   '104207': 1,
   '104243': 1,
   '104521': 4,
   '104676': 4,
   '104885': 4,
   '105144': 1,
   '105256': 3,
   '10617': 1,
   '106222': 2,
   '106237': 1,
   '106350': 1,
   '107039': 3,
   '107103': 2,
   '107168': 1,
   '107364': 1,
   '10764': 1,
   '107743': 1,
   '107750': 1,
   '107846': 2,
   '107920': 1,
   '108114': 4,
   '108228': 2,
   '108267': 5,
   '108734': 1,
   '108742': 3,
   '108766': 1,
   '109145': 4,
   '109210': 1,
   '109301': 1,
   '109433': 8,
   '109444': 7,
   '109595': 1,
   '109597': 1,
   '109784': 1,
   '109854': 2,
   '11005': 1,
   '110264': 4,
   '110578': 1,
   '110729': 1,
   '110792': 1,
   '110855': 6,
   '11092': 1,
   '111203': 1,
   '111262': 2,
   '111494': 1,
   '111610': 1,
   '111754': 4,
   '111790': 1,
   '111905': 1,
   '112035': 1,
   '112091': 1,
   '112213': 1,
   '112317': 3,
   '112321': 1,
   '112443': 2,
   '112565': 1,
   '112778': 2,
   '112876': 2,
   '112993': 2,
   '11328': 1,
   '113444': 1,
   '113616': 1,
   '113916': 14,
   '113944': 19,
   '113972': 1,
   '114195': 1,
   '11423': 1,
   '114283': 1,
   '114467': 1,
   '11456': 1,
   '1146': 2,
   '11467': 11,
   '114685': 2,
   '114772': 6,
   '114844': 2,
   '114943': 1,
   '114966': 1,
   '115051': 1,
   '115120': 8,
   '115432': 1,
   '115611': 1,
   '115633': 1,
   '115942': 1,
   '115971': 1,
   '11617': 8,
   '11622': 17,
   '116222': 3,
   '116605': 3,
   '117020': 5,
   '117027': 1,
   '117090': 1,
   '117140': 1,
   '117210': 1,
   '117509': 2,
   '11774': 2,
   '117784': 1,
   '117985': 1,
   '118045': 1,
   '118175': 1,
   '118791': 4,
   '11887': 2,
   '118901': 1,
   '118919': 1,
   '118970': 1,
   '11949': 1,
   '119491': 1,
   '119901': 3,
   '120313': 1,
   '120461': 1,
   '120594': 1,
   '120602': 1,
   '120605': 16,
   '120765': 1,
   '120937': 9,
   '12114': 2,
   '121281': 7,
   '121343': 7,
   '121403': 1,
   '121508': 1,
   '121525': 1,
   '12160': 1,
   '121728': 1,
   '121878': 1,
   '121972': 11,
   '122056': 1,
   '122374': 2,
   '122496': 2,
   '122559': 1,
   '1226': 1,
   '12269': 1,
   '122873': 1,
   '122934': 1,
   '122978': 1,
   '123235': 1,
   '123373': 3,
   '123386': 1,
   '123440': 1,
   '123896': 3,
   '124041': 1,
   '124222': 1,
   '124519': 1,
   '125614': 17,
   '12631': 1,
   '12709': 1,
   '129': 1,
   '13225': 5,
   '133544': 1,
   '133573': 1,
   '133745': 1,
   '133924': 1,
   '134106': 2,
   '134178': 3,
   '134466': 1,
   '134615': 2,
   '135263': 1,
   '135275': 1,
   '135673': 1,
   '136043': 2,
   '136301': 1,
   '136378': 1,
   '136387': 4,
   '136388': 1,
   '136605': 1,
   '136860': 1,
   '137310': 1,
   '137692': 2,
   '137865': 1,
   '137954': 2,
   '138235': 1,
   '138257': 3,
   '138767': 5,
   '138919': 1,
   '138953': 5,
   '13901': 1,
   '13913': 2,
   '139131': 1,
   '139277': 1,
   '139394': 11,
   '139608': 3,
   '139754': 4,
   '139770': 1,
   '140510': 3,
   '140609': 1,
   '140693': 1,
   '141095': 4,
   '141134': 3,
   '141151': 2,
   '14125': 1,
   '141405': 1,
   '141466': 1,
   '141523': 5,
   '141567': 1,
   '14176': 1,
   '141877': 2,
   '141934': 1,
   '142114': 1,
   '142119': 3,
   '142123': 2,
   '14225': 1,
   '142327': 1,
   '142357': 7,
   '14253': 1,
   '142909': 1,
   '142931': 1,
   '143353': 1,
   '143451': 1,
   '143645': 1,
   '143688': 1,
   '144662': 1,
   '144983': 1,
   '145224': 6,
   '145316': 1,
   '145761': 1,
   '146060': 1,
   '146143': 1,
   '146321': 2,
   '146593': 1,
   '146749': 5,
   '146799': 1,
   '146935': 5,
   '14702': 1,
   '147046': 5,
   '147281': 1,
   '147287': 2,
   '147566': 1,
   '1479': 1,
   '147900': 1,
   '147909': 1,
   '148130': 1,
   '14836': 1,
   '148361': 1,
   '148404': 2,
   '148559': 2,
   '148691': 1,
   '148708': 3,
   '148718': 2,
   '148786': 1,
   '14880': 1,
   '148830': 2,
   '148853': 1,
   '149139': 1,
   '1492': 1,
   '149247': 1,
   '149281': 1,
   '149534': 2,
   '149679': 1,
   '149703': 1,
   '149803': 1,
   '149819': 1,
   '149828': 1,
   '150018': 2,
   '150043': 1,
   '150056': 3,
   '150368': 1,
   '150510': 1,
   '15069': 1,
   '150773': 1,
   '150902': 1,
   '151285': 1,
   '151594': 6,
   '152078': 2,
   '152276': 3,
   '152347': 1,
   '152391': 10,
   '152551': 3,
   '152731': 3,
   '152757': 1,
   '152893': 1,
   '153046': 2,
   '153069': 1,
   '153073': 2,
   '15330': 1,
   '153305': 1,
   '153400': 1,
   '153435': 1,
   '153602': 2,
   '153685': 2,
   '153765': 9,
   '153868': 1,
   '154295': 9,
   '154377': 1,
   '154435': 1,
   '154546': 2,
   '154776': 1,
   '155138': 1,
   '155304': 1,
   '155433': 1,
   '155822': 1,
   '155863': 1,
   '156453': 1,
   '156633': 2,
   '157347': 1,
   '157349': 39,
   '157373': 1,
   '157532': 1,
   '157645': 1,
   '1579': 1,
   '158011': 2,
   '158035': 3,
   '158048': 3,
   '158190': 3,
   '158300': 1,
   '158391': 2,
   '159226': 1,
   '159257': 1,
   '159300': 1,
   '159370': 12,
   '159373': 1,
   '159611': 1,
   '159803': 3,
   '159844': 4,
   '159909': 1,
   '159947': 1,
   '160062': 1,
   '160331': 5,
   '16043': 1,
   '160440': 1,
   '160480': 1,
   '16068': 2,
   '161015': 1,
   '161275': 3,
   '161425': 2,
   '161543': 12,
   '161570': 4,
   '161673': 3,
   '161767': 1,
   '161801': 5,
   '161819': 19,
   '161853': 1,
   '161885': 2,
   '162401': 1,
   '162518': 1,
   '163127': 1,
   '163379': 1,
   '163413': 1,
   '163656': 1,
   '163762': 1,
   '1638': 1,
   '163824': 7,
   '163915': 1,
   '164138': 1,
   '164643': 2,
   '165288': 4,
   '165405': 1,
   '165507': 1,
   '165587': 1,
   '165636': 33,
   '165752': 2,
   '166063': 1,
   '16631': 5,
   '166441': 1,
   '166495': 1,
   '166536': 1,
   '167033': 1,
   '167142': 1,
   '167263': 1,
   '167499': 2,
   '167779': 1,
   '167828': 1,
   '167845': 1,
   '168200': 1,
   '168420': 5,
   '168450': 1,
   '168587': 2,
   '168611': 1,
   '168692': 1,
   '169039': 1,
   '169041': 4,
   '169112': 1,
   '169119': 5,
   '169283': 1,
   '169412': 2,
   '16980': 1,
   '169922': 5,
   '17022': 1,
   '17025': 2,
   '170288': 7,
   '170376': 3,
   '170478': 1,
   '170930': 1,
   '170978': 1,
   '171076': 5,
   '171108': 5,
   '171152': 1,
   '172245': 1,
   '172287': 1,
   '172300': 2,
   '172610': 1,
   '172759': 1,
   '172785': 1,
   '172818': 2,
   '172824': 1,
   '173229': 1,
   '173279': 1,
   '173505': 4,
   '173584': 1,
   '17362': 1,
   '173700': 1,
   '173847': 3,
   '17387': 1,
   '174073': 6,
   '174118': 1,
   '174126': 1,
   '174226': 3,
   '174446': 1,
   '174664': 1,
   '174751': 1,
   '174787': 1,
   '17514': 1,
   '175156': 3,
   '175255': 1,
   '175270': 2,
   '175286': 4,
   '175645': 1,
   '175714': 5,
   '175880': 1,
   '176100': 1,
   '176129': 1,
   '176261': 2,
   '176763': 2,
   '176953': 1,
   '177078': 1,
   '177174': 1,
   '177178': 1,
   '17787': 1,
   '178092': 2,
   '178146': 1,
   '178285': 1,
   '178366': 1,
   '178623': 1,
   '179028': 1,
   '179168': 1,
   '179259': 1,
   '179351': 2,
   '179641': 1,
   '179723': 3,
   '179803': 1,
   '179867': 1,
   '179907': 6,
   '179956': 3,
   '180567': 1,
   '180582': 1,
   '180626': 4,
   '180970': 30,
   '181203': 1,
   '181288': 1,
   '181294': 1,
   '181324': 1,
   '181455': 2,
   '181920': 2,
   '182039': 4,
   '18213': 1,
   '182367': 1,
   '18280': 1,
   '182844': 2,
   '182866': 1,
   '182910': 1,
   '183071': 2,
   '183325': 3,
   '183350': 1,
   '183434': 12,
   '183489': 1,
   '183575': 2,
   '183703': 2,
   '184024': 2,
   '184095': 1,
   '184172': 1,
   '184263': 2,
   '184282': 1,
   '184335': 1,
   '184368': 1,
   '184379': 1,
   '184530': 2,
   '184540': 9,
   '184674': 1,
   '185177': 1,
   '18524': 1,
   '185344': 1,
   '185705': 1,
   '185739': 1,
   '185829': 1,
   '185990': 1,
   '186158': 1,
   '186164': 1,
   '18623': 1,
   '186420': 1,
   '186433': 1,
   '186443': 1,
   '186746': 2,
   '187170': 2,
   '187223': 1,
   '18734': 1,
   '187549': 1,
   '187600': 1,
   '187624': 1,
   '187797': 1,
   '187885': 1,
   '187978': 1,
   '188004': 1,
   '188165': 1,
   '18848': 9,
   '188821': 1,
   '188863': 6,
   '18888': 1,
   '188904': 1,
   '189186': 1,
   '189203': 2,
   '189300': 1,
   '189637': 2,
   '189780': 2,
   '189794': 2,
   '189974': 28,
   '190076': 1,
   '190118': 1,
   '190138': 1,
   '190315': 2,
   '190502': 3,
   '190560': 1,
   '190903': 1,
   '191044': 1,
   '191173': 1,
   '191226': 4,
   '191268': 1,
   '191279': 1,
   '191341': 1,
   '191522': 1,
   '192147': 3,
   '192229': 1,
   '19223': 1,
   '192605': 1,
   '192815': 7,
   '19286': 2,
   '193156': 1,
   '19317': 1,
   '193258': 1,
   '193732': 1,
   '19378': 1,
   '194151': 1,
   '194190': 7,
   '194291': 1,
   '19497': 1,
   '195086': 5,
   '195177': 1,
   '195189': 1,
   '195234': 1,
   '195270': 1,
   '195723': 1,
   '195841': 2,
   '196132': 1,
   '196171': 1,
   '196204': 1,
   '196713': 1,
   '197007': 1,
   '19714': 1,
   '197228': 1,
   '197439': 2,
   '197691': 1,
   '19852': 2,
   '198525': 1,
   '198705': 1,
   '199063': 1,
   '199163': 2,
   '199605': 1,
   '199617': 1,
   '199685': 2,
   '199934': 1,
   '200009': 1,
   '200037': 2,
   '200082': 8,
   '200125': 2,
   '200127': 2,
   '200133': 2,
   '200146': 1,
   '2002': 5,
   '200526': 1,
   '200573': 1,
   '20104': 4,
   '201108': 1,
   '201264': 1,
   '201709': 1,
   '201830': 1,
   '201956': 1,
   '202005': 17,
   '202066': 5,
   '202082': 1,
   '202163': 1,
   '202222': 1,
   '202372': 1,
   '202442': 1,
   '202580': 2,
   '202870': 2,
   '202925': 2,
   '203434': 7,
   '203487': 1,
   '203767': 1,
   '203788': 1,
   '203932': 8,
   '203935': 1,
   '204011': 1,
   '204033': 3,
   '204114': 1,
   '204342': 1,
   '204343': 3,
   '204365': 1,
   '204482': 3,
   '204619': 1,
   '204638': 6,
   '204855': 1,
   '205096': 1,
   '206139': 1,
   '206149': 1,
   '206739': 2,
   '20692': 1,
   '206962': 1,
   '20735': 3,
   '207479': 1,
   '20753': 1,
   '207593': 1,
   '208148': 1,
   '208657': 2,
   '208682': 4,
   '208698': 3,
   '209221': 1,
   '209460': 1,
   '209778': 13,
   '209869': 1,
   '209937': 1,
   '210364': 1,
   '210418': 1,
   '210542': 1,
   '210554': 1,
   '21058': 1,
   '210717': 1,
   '210803': 3,
   '210885': 1,
   '210904': 2,
   '211023': 3,
   '211094': 14,
   '211259': 2,
   '211280': 1,
   '211366': 1,
   '211808': 1,
   '211861': 6,
   '212836': 1,
   '213018': 3,
   '213370': 1,
   '213473': 1,
   '213627': 1,
   '213891': 1,
   '21403': 13,
   '214333': 1,
   '214412': 1,
   '21469': 1,
   '214743': 1,
   '215410': 1,
   '215624': 1,
   '215972': 1,
   '216236': 4,
   '21683': 1,
   '21698': 4,
   '217471': 1,
   '217654': 2,
   '218539': 1,
   '218762': 1,
   '218766': 1,
   '219305': 1,
   '219316': 1,
   '21950': 1,
   '219610': 2,
   '220076': 1,
   '220209': 2,
   '220341': 3,
   '220621': 1,
   '221149': 1,
   '221303': 2,
   '221307': 15,
   '221396': 8,
   '221398': 1,
   '221400': 1,
   '221411': 5,
   '221607': 5,
   '221807': 1,
   '221985': 2,
   '222010': 1,
   '222114': 1,
   '222195': 1,
   '222395': 1,
   '223133': 1,
   '223249': 3,
   '223278': 1,
   '223501': 1,
   '224023': 1,
   '224051': 5,
   '224201': 1,
   '224359': 1,
   '224422': 1,
   '224554': 1,
   '224718': 1,
   '225227': 1,
   '22527': 2,
   '225435': 1,
   '225546': 5,
   '225577': 2,
   '225579': 1,
   '225790': 1,
   '225859': 1,
   '225941': 1,
   '226107': 1,
   '226400': 1,
   '226648': 2,
   '226669': 5,
   '227065': 1,
   '227104': 1,
   '227482': 1,
   '227562': 1,
   '228022': 1,
   '228054': 4,
   '228262': 1,
   '228269': 1,
   '228276': 2,
   '228324': 3,
   '228364': 2,
   '228451': 2,
   '228514': 7,
   '228554': 1,
   '228658': 1,
   '228673': 1,
   '228725': 1,
   '228732': 2,
   '228815': 1,
   '228975': 1,
   '229324': 1,
   '229444': 2,
   '229541': 1,
   '230116': 1,
   '230208': 1,
   '230445': 1,
   '230477': 1,
   '230538': 1,
   '230564': 6,
   '230812': 1,
   '230838': 1,
   '230955': 1,
   '231020': 1,
   '231114': 1,
   '231144': 1,
   '231185': 2,
   '231744': 1,
   '231798': 1,
   '232320': 1,
   '232809': 2,
   '232837': 3,
   '232908': 1,
   '232947': 1,
   '232956': 1,
   '233288': 1,
   '233678': 1,
   '233753': 1,
   '233798': 1,
   '233855': 1,
   '233878': 1,
   '233901': 1,
   '233911': 1,
   '23394': 2,
   '233977': 1,
   '234098': 1,
   '234109': 1,
   '234129': 1,
   '234144': 1,
   '234381': 2,
   '234386': 2,
   '23474': 1,
   '234831': 1,
   '234880': 1,
   '234931': 1,
   '234997': 1,
   '23510': 1,
   '235117': 1,
   '235617': 1,
   '235733': 1,
   '235746': 1,
   '235758': 1,
   '235831': 20,
   '235902': 2,
   '236107': 1,
   '236252': 1,
   '236363': 5,
   '236827': 1,
   '236833': 1,
   '237165': 1,
   '237228': 1,
   '23751': 1,
   '237999': 1,
   '238334': 1,
   '238355': 1,
   '238526': 1,
   '238599': 4,
   '238897': 1,
   '238915': 5,
   '238948': 1,
   '23955': 1,
   '239805': 1,
   '239895': 1,
   '24000': 1,
   '240017': 2,
   '240072': 1,
   '240209': 1,
   '240959': 5,
   '240964': 1,
   '241004': 2,
   '241070': 2,
   '241221': 1,
   '24130': 1,
   '241375': 1,
   '241559': 1,
   '241572': 1,
   '241991': 1,
   '242068': 3,
   '242167': 1,
   '242462': 6,
   '24250': 2,
   '242522': 1,
   '242817': 1,
   '242846': 1,
   '242892': 1,
   '242957': 1,
   '243451': 1,
   '243606': 1,
   '243745': 1,
   '244192': 1,
   '245462': 1,
   '245488': 3,
   '245715': 40,
   '245721': 1,
   '245734': 1,
   '246190': 1,
   '246778': 1,
   '246796': 5,
   '247108': 1,
   '247481': 4,
   '247861': 1,
   '247876': 1,
   '248009': 4,
   '248094': 1,
   '248188': 3,
   '248210': 3,
   '248399': 1,
   '248521': 3,
   '248566': 1,
   '248676': 2,
   '248739': 2,
   '248948': 9,
   '249013': 1,
   '249592': 2,
   '249717': 1,
   '249900': 1,
   '24996': 1,
   '249980': 1,
   '250062': 7,
   '250504': 1,
   '250536': 1,
   '250603': 4,
   '250614': 1,
   '250622': 6,
   '250784': 1,
   '251054': 1,
   '251334': 1,
   '251392': 1,
   '251758': 2,
   '251992': 3,
   '252260': 1,
   '25232': 2,
   '252508': 1,
   '252528': 1,
   '252563': 2,
   '252817': 4,
   '252849': 6,
   '25294': 4,
   '252974': 2,
   '25301': 1,
   '25303': 1,
   '253031': 1,
   '253248': 1,
   '253598': 1,
   '253788': 6,
   '254422': 1,
   '254436': 2,
   '254599': 1,
   '254745': 1,
   '255035': 1,
   '255126': 1,
   '255210': 1,
   '255588': 1,
   '255785': 1,
   '256195': 1,
   '256435': 1,
   '25653': 1,
   '256767': 2,
   '257082': 1,
   '257088': 1,
   '257216': 2,
   '257426': 2,
   '257614': 1,
   '257791': 2,
   '257798': 11,
   '257814': 1,
   '257869': 1,
   '258165': 1,
   '258206': 1,
   '258297': 1,
   '258482': 4,
   '258705': 1,
   '258725': 1,
   '258870': 1,
   '258908': 1,
   '258927': 6,
   '259387': 1,
   '259702': 1,
   '260174': 1,
   '260270': 1,
   '260521': 1,
   '260860': 2,
   '261027': 1,
   '261120': 1,
   '261180': 4,
   '261201': 16,
   '261233': 1,
   '261646': 1,
   '261900': 1,
   '262086': 1,
   '262548': 2,
   '262896': 1,
   '262911': 1,
   '263198': 1,
   '263881': 6,
   '263956': 3,
   '264237': 4,
   '264248': 11,
   '264431': 1,
   '265199': 2,
   '265213': 6,
   '26537': 12,
   '265398': 1,
   '26575': 1,
   '266034': 1,
   '266049': 1,
   '266122': 1,
   '266242': 1,
   '266376': 10,
   '266383': 1,
   '266521': 2,
   '266608': 2,
   '266678': 1,
   '267188': 1,
   '267286': 2,
   '267416': 5,
   '267572': 1,
   '267641': 2,
   '267772': 1,
   '267828': 6,
   '267841': 1,
   '267889': 2,
   '267996': 1,
   '268283': 1,
   '26830': 1,
   '268539': 1,
   '268790': 1,
   '26947': 1,
   '269750': 1,
   '269878': 1,
   '269899': 2,
   '27003': 1,
   '270068': 1,
   '270087': 1,
   '270442': 1,
   '270486': 1,
   '270519': 11,
   '271089': 1,
   '27118': 1,
   '271205': 1,
   '271417': 4,
   '27165': 1,
   '271836': 1,
   ...})]

In [39]:
from sklearn.feature_extraction import DictVectorizer
v = DictVectorizer(sparse=False)
D = [{11: 1, 12: 2}, {11: 3, 13: 1}]
X = v.fit_transform(D)
X

array([[1., 2., 0.],
       [3., 0., 1.]])

# DRAFT

In [64]:
# def session_split(session, train_size=0.5):
#     session_length = len(session)
#     split_index = int(np.ceil(session_length * train_size))
    
#     return session[:split_index], session[split_index:]

# sessions_splited_test = pd.DataFrame(
#     sessions_gathered_test.apply(session_split).tolist(),
#     columns=['X', 'y'],
#     index=sessions_gathered_test.index
# )#.reset_index()

# sessions_splited_test

In [ ]:
# from itertools import permutations

# def split_session_with_permutation(session, num_train):
#     session_length = len(session)
    
#     mask = np.zeros(session_length, dtype=bool)
#     mask[:num_train] = True
#     mask_permutations = np.array(list(set(permutations(mask))))
    
#     session_splits = [(session[mask], session[~mask]) for mask in mask_permutations]
    
#     return session_splits


# def split_session_one(session):
#     session_length = len(session)
#     num_train = session_length - 1
#     session_splits = split_session_with_permutation(session, num_train)
    
#     return session_splits

In [ ]:
# %%time
# # не хватает мощности
# session_neighbours = (session_neighbours#.head(1000)
#     .groupby(['person_id'], as_index=False)
#     .agg({'session_neighbours' : lambda x: list(np.concatenate(x.values))})
# )

In [16]:
# 
sessions_extend[sessions_extend['playtime'].isin([-1])]

,session_id,timestamp,playtime,numtracks,user_id,track_id,track_playratio,playcount,person_id
4,1873088,1406217037,-1,1,23183,838286,NaN,212.0,107103
19,361604,1400260299,-1,1,40718,838286,NaN,212.0,107103
40,2700519,1405970598,-1,1,24690,838286,NaN,212.0,107103
58,846,1411031704,-1,1,40433,838286,NaN,212.0,107103
82,2604837,1410191003,-1,1,377,838286,NaN,212.0,107103
...,...,...,...,...,...,...,...,...,...
30732660,2704365,1392347333,-1,1,25560,366126,NaN,4.0,45178
30732664,373369,1408739136,-1,1,40091,4789796,1.0,NaN,552076
30732704,2751633,1408490773,-1,1,36788,3517368,NaN,166.0,439634
30732765,1885736,1408391273,-1,1,26603,2749494,NaN,112.0,344789
30732766,1885735,1408300690,-1,1,26603,3208862,NaN,1297.0,397734

In [17]:
sessions_extend[sessions_extend['track_playratio'].isin([np.nan])]

,session_id,timestamp,playtime,numtracks,user_id,track_id,track_playratio,playcount,person_id
0,287144,1390231051,4547,23,44361,4698874,NaN,NaN,142266
4,1873088,1406217037,-1,1,23183,838286,NaN,212.0,107103
9,1591983,1421070443,6740,28,25592,838286,NaN,212.0,107103
10,1591217,1399022203,3066,14,25458,838286,NaN,212.0,107103
19,361604,1400260299,-1,1,40718,838286,NaN,212.0,107103
...,...,...,...,...,...,...,...,...,...
30732763,1885731,1407078600,749,4,26603,3465265,NaN,259.0,432719
30732765,1885736,1408391273,-1,1,26603,2749494,NaN,112.0,344789
30732766,1885735,1408300690,-1,1,26603,3208862,NaN,1297.0,397734
30732769,2480038,1407956764,940,5,33058,2014661,NaN,1466.0,252514
30732785,540638,1415960966,18220,78,24700,720394,NaN,123.0,87396

In [25]:
sessions_extend['person_id'].nunique()

560926

In [18]:
(sessions_extend['numtracks'] >= 5).sum() / sessions_extend.shape[0]

0.9114987875489852

In [29]:
user_person_statistics = (sessions_extend
    .groupby(['user_id', 'person_id'], as_index=False)
    ['track_playratio'].median()
#     .agg({
#         'track_playratio':['count', 'sum', 'mean', 'median'],
#     })
)
user_person_statistics

         user_id  person_id  track_playratio
0              1      11467             1.00
1              1      11617             1.00
2              1      19627             1.01
3              1      28510             0.53
4              1      42218             1.43
...          ...        ...              ...
6305840    45175     361085             2.18
6305841    45175     390280             1.03
6305842    45175     426475             0.88
6305843    45175     438476              NaN
6305844    45175     446939             1.00

[6305845 rows x 3 columns]

In [30]:
user_person_statistics.columns

Index(['user_id', 'person_id', 'track_playratio'], dtype='object')

In [32]:
from surprise import Dataset
# Load the movielens-100k dataset (download it if needed),
data = Dataset.load_builtin('ml-100k')

Dataset ml-100k could not be found. Do you want to download it? [Y/n] y
Trying to download dataset from http://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to /home/user/.surprise_data/ml-100k

In [31]:
from surprise import SVD

# Use the famous SVD algorithm.
svd = SVD()

In [20]:
users_listen_count = (sessions_extend
    .groupby(['user_id'], as_index=False)['track_playratio']
    .count()
    .rename(columns={'track_playratio':'listen_count'})
)
users_listen_count

       user_id  listen_count
0            1           404
1            2           672
2            3          1821
3            4          1013
4            5           173
...        ...           ...
45170    45171           174
45171    45172            16
45172    45173           364
45173    45174           351
45174    45175            71

[45175 rows x 2 columns]

In [24]:
(users_listen_count['listen_count'] >= 50).sum() / users_listen_count.shape[0]

0.8976646375207527